[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
py-solc-x = "*"
web3 = "*"
eth-account = "*"
flask = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-bcrypt = "*"
python-dotenv = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.8"
