{% extends "layout.html" %}
{% block content %}
<h1>HOME PAGE</h1>
<div class="row justify-content-center">
    <div class="col-8">
        {% for g in game_data %}
        <div class="card px-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <i class="fas fa-chevron-right fa-1x"></i>
                        Game ID {{ g['id'] }}: {{ g['status'] }}
                    </div>
                    <div class="col-4">
                        <a type="button" class="btn btn-success" href="{{ url_for('main.place_bet', game_id=g['id']) }}">Place Bet</a>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="card-text">
                            {{ g['create_time'] }}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card-text">
                            {{ g['total_pool'] }}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card-text text-truncate" data-bs-toggle="popover" data-bs-trigger="hover focus" title="Manager Address" data-bs-content="{{ g['manager'] }}">
                            {{ g['manager'] }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn btn-primary">
                            Max Prediction <span class="badge bg-secondary">{{ g['val_range'] }}</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary">
                            Bet Minimum <span class="badge bg-secondary">{{ g['bet_min'] }}</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary">
                            Bet Count <span class="badge bg-secondary">{{ g['bets_count'] }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
