{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-start gy-4">
    <div class="container">
        <h1 class="text-secondary">ChainGamble</h1>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-8">
        <div class="card px-4 bg-light">
            <div class="row gy-4">
                <div class="col-lg-10">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.username.label(class="form-label text-dark", for="username1") }}
                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid", id="username1") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg", id="username1") }}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.email.label(class="form-label text-dark", for="email1") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid", id="email1") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg", id="email1") }}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label(class="form-label text-dark", for="password1") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid", id="password1") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg", id="password1") }}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.confirm_password.label(class="form-label text-dark", for="confirm_password1") }}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control form-control-lg is-invalid", id="confirm_password1") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="form-control form-control-lg", id="confirm_password1") }}
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <button type="submit" class="btn btn-primary">Register</button>
                                <small class="text-muted">
                                    Already a user? <a href="{{ url_for('users.login') }}">Login here.</a>
                                </small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="container bg-dark bg-gradient fill">

                        <!-- Need to figure out how to fill this space with a color -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}